{% extends 'base.html' %}
{% load static %}
{% block content %}



    <!-- Banner Section Starts Here -->
    <section class="inner-banner bg_img padding-bottom" style="background: url({% static 'assets/images/about/bg.png'%}) no-repeat right bottom;">
        <div class="container">
            <div class="inner-banner-wrapper">
                <div class="inner-banner-content mx-650">
                    <h2 class="inner-banner-title mx-650">frequently asked questions</h2>
                    <ul class="breadcums">
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li>
                            <span>Faq</span>
                        </li>
                    </ul>
                </div>
                <div class="inner-banner-thumb about2 d-none d-md-block">
                    <img src="{% static 'assets/images/faq/thumb2.png'%}" alt="about">
                </div>
            </div>
        </div>
        <div class="shape1 paroller" data-paroller-factor=".4" data-paroller-direction="horizontal">
            <img src="{% static 'assets/images/about/balls.png'%}" alt="about">
        </div>
    </section>
    <!-- Banner Section Ends Here -->


    <!-- Help Section Starts Here -->
    <section class="help-section padding-top padding-bottom">
        <div class="container">
            <div class="help-content">
                <div class="row justify-content-center">
                    <div class="col-lg-7">
                        <div class="section-header text-center">
                            <span class="subtitle  fadeInUp">frequently asked questions</span>
                            <h2 class="title mx-100">have many question about us</h2>
                            <p class=" fadeInUp" data--delay=".6s">
                                Dapibus et amet sociis, arcu orci orci tincidunt neque. Purus etortor sjustmauris eumalesuada architecto.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="faq-tab-menu nav-tabs nav border-0 row g-4 justify-content-center">
                    <div class="col-6 col-sm-4 col-md-4 col-lg-4 col-xl-2  fadeInUp" data--delay=".1s">
                        <a href="#investor" class="item active" data-bs-toggle="tab">
                            <div class="thumb">
                                <img src="{% static 'assets/images/help/trading.png'%}" alt="">
                            </div>
                            <h5>Become an investor</h5>
                        </a>
                    </div>
                    <div class="col-6 col-sm-4 col-md-4 col-lg-4 col-xl-2  fadeInUp" data--delay=".2s">
                        <a href="#privacy" class="item" data-bs-toggle="tab">
                            <div class="thumb">
                                <img src="{% static 'assets/images/help/password.png'%}" alt="">
                            </div>
                            <h5>our company privacy</h5>
                        </a>
                    </div>
                    <div class="col-6 col-sm-4 col-md-4 col-lg-4 col-xl-2  fadeInUp" data--delay=".3s">
                        <a href="#account" class="item" data-bs-toggle="tab">
                            <div class="thumb">
                                <img src="{% static 'assets/images/help/support.png'%}" alt="">
                            </div>
                            <h5>how setting account</h5>
                        </a>
                    </div>
                    <div class="col-6 col-sm-4 col-md-4 col-lg-4 col-xl-2  fadeInUp" data--delay=".4s">
                        <a href="#account" class="item" data-bs-toggle="tab">
                            <div class="thumb">
                                <img src="{% static 'assets/images/help/support.png'%}" alt="">
                            </div>
                            <h5>how setting account</h5>
                        </a>
                    </div>
                </div>
                <div class="tab-content  fadeInUp">
                    <div class="tab-pane show fade active" id="investor">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="faq-wrapper">
                                    <div class="faq-item">
                                        <div class="faq-title">
                                            <h5 class="title">Why You Should Become An Investor?</h5>
                                            <div class="arrow">
                                                <i class="fas fa-angle-up"></i>
                                            </div>
                                        </div>
                                        <div class="faq-content">
                                            <p>
                                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis distinctio quas at, voluptates saepe asperiores nesciunt nulla dolor dolore alias! Saepe laboriosam aliquid, ullam nihil nostrum quibusdam iste expedita inventore?
                                            </p>
                                        </div>
                                    </div>
                                    <div class="faq-item open active">
                                        <div class="faq-title">
                                            <h5 class="title">Can I Invest Using Cryptocurrency?</h5>
                                            <div class="arrow">
                                                <i class="fas fa-angle-up"></i>
                                            </div>
                                        </div>
                                        <div class="faq-content">
                                            <p>
                                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis distinctio quas at, voluptates saepe asperiores nesciunt nulla dolor dolore alias! Saepe laboriosam aliquid, ullam nihil nostrum quibusdam iste expedita inventore?
                                            </p>
                                        </div>
                                    </div>
                                    <div class="faq-item">
                                        <div class="faq-title">
                                            <h5 class="title">Why You Choose Us?</h5>
                                            <div class="arrow">
                                                <i class="fas fa-angle-up"></i>
                                            </div>
                                        </div>
                                        <div class="faq-content">
                                            <p>
                                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis distinctio quas at, voluptates saepe asperiores nesciunt nulla dolor dolore alias! Saepe laboriosam aliquid, ullam nihil nostrum quibusdam iste expedita inventore?
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="faq-wrapper">
                                    <div class="faq-item">
                                        <div class="faq-title">
                                            <h5 class="title">Why You Should Become An Investor?</h5>
                                            <div class="arrow">
                                                <i class="fas fa-angle-up"></i>
                                            </div>
                                        </div>
                                        <div class="faq-content">
                                            <p>
                                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis distinctio quas at, voluptates saepe asperiores nesciunt nulla dolor dolore alias! Saepe laboriosam aliquid, ullam nihil nostrum quibusdam iste expedita inventore?
                                            </p>
                                        </div>
                                    </div>
                                    <div class="faq-item open active">
                                        <div class="faq-title">
                                            <h5 class="title">Can I Invest Using Cryptocurrency?</h5>
                                            <div class="arrow">
                                                <i class="fas fa-angle-up"></i>
                                            </div>
                                        </div>
                                        <div class="faq-content">
                                            <p>
                                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis distinctio quas at, voluptates saepe asperiores nesciunt nulla dolor dolore alias! Saepe laboriosam aliquid, ullam nihil nostrum quibusdam iste expedita inventore?
                                            </p>
                                        </div>
                                    </div>
                                    <div class="faq-item">
                                        <div class="faq-title">
                                            <h5 class="title">Why You Choose Us?</h5>
                                            <div class="arrow">
                                                <i class="fas fa-angle-up"></i>
                                            </div>
                                        </div>
                                        <div class="faq-content">
                                            <p>
                                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis distinctio quas at, voluptates saepe asperiores nesciunt nulla dolor dolore alias! Saepe laboriosam aliquid, ullam nihil nostrum quibusdam iste expedita inventore?
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane show fade" id="privacy">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="faq-wrapper">
                                    <div class="faq-item">
                                        <div class="faq-title">
                                            <h5 class="title">Frequently gets updated based on new data insights.</h5>
                                            <div class="arrow">
                                                <i class="fas fa-angle-up"></i>
                                            </div>
                                        </div>
                                        <div class="faq-content">
                                            <p>
                                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis distinctio quas at, voluptates saepe asperiores nesciunt nulla dolor dolore alias! Saepe laboriosam aliquid, ullam nihil nostrum quibusdam iste expedita inventore?
                                            </p>
                                        </div>
                                    </div>
                                    <div class="faq-item open active">
                                        <div class="faq-title">
                                            <h5 class="title">Drives internal pageviews to.</h5>
                                            <div class="arrow">
                                                <i class="fas fa-angle-up"></i>
                                            </div>
                                        </div>
                                        <div class="faq-content">
                                            <p>
                                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis distinctio quas at, voluptates saepe asperiores nesciunt nulla dolor dolore alias! Saepe laboriosam aliquid, ullam nihil nostrum quibusdam iste expedita inventore?
                                            </p>
                                        </div>
                                    </div>
                                    <div class="faq-item">
                                        <div class="faq-title">
                                            <h5 class="title">Showcases expertise, trust, and authority.</h5>
                                            <div class="arrow">
                                                <i class="fas fa-angle-up"></i>
                                            </div>
                                        </div>
                                        <div class="faq-content">
                                            <p>
                                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis distinctio quas at, voluptates saepe asperiores nesciunt nulla dolor dolore alias! Saepe laboriosam aliquid, ullam nihil nostrum quibusdam iste expedita inventore?
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="faq-wrapper">
                                    <div class="faq-item">
                                        <div class="faq-title">
                                            <h5 class="title">Frequently gets updated based on new data insights.</h5>
                                            <div class="arrow">
                                                <i class="fas fa-angle-up"></i>
                                            </div>
                                        </div>
                                        <div class="faq-content">
                                            <p>
                                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis distinctio quas at, voluptates saepe asperiores nesciunt nulla dolor dolore alias! Saepe laboriosam aliquid, ullam nihil nostrum quibusdam iste expedita inventore?
                                            </p>
                                        </div>
                                    </div>
                                    <div class="faq-item open active">
                                        <div class="faq-title">
                                            <h5 class="title">Drives internal pageviews to.</h5>
                                            <div class="arrow">
                                                <i class="fas fa-angle-up"></i>
                                            </div>
                                        </div>
                                        <div class="faq-content">
                                            <p>
                                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis distinctio quas at, voluptates saepe asperiores nesciunt nulla dolor dolore alias! Saepe laboriosam aliquid, ullam nihil nostrum quibusdam iste expedita inventore?
                                            </p>
                                        </div>
                                    </div>
                                    <div class="faq-item">
                                        <div class="faq-title">
                                            <h5 class="title">Showcases expertise, trust, and authority.</h5>
                                            <div class="arrow">
                                                <i class="fas fa-angle-up"></i>
                                            </div>
                                        </div>
                                        <div class="faq-content">
                                            <p>
                                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis distinctio quas at, voluptates saepe asperiores nesciunt nulla dolor dolore alias! Saepe laboriosam aliquid, ullam nihil nostrum quibusdam iste expedita inventore?
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane show fade" id="account">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="faq-wrapper">
                                    <div class="faq-item">
                                        <div class="faq-title">
                                            <h5 class="title">Frequently gets updated based on new data insights.</h5>
                                            <div class="arrow">
                                                <i class="fas fa-angle-up"></i>
                                            </div>
                                        </div>
                                        <div class="faq-content">
                                            <p>
                                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis distinctio quas at, voluptates saepe asperiores nesciunt nulla dolor dolore alias! Saepe laboriosam aliquid, ullam nihil nostrum quibusdam iste expedita inventore?
                                            </p>
                                        </div>
                                    </div>
                                    <div class="faq-item open active">
                                        <div class="faq-title">
                                            <h5 class="title">Drives internal pageviews to.</h5>
                                            <div class="arrow">
                                                <i class="fas fa-angle-up"></i>
                                            </div>
                                        </div>
                                        <div class="faq-content">
                                            <p>
                                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis distinctio quas at, voluptates saepe asperiores nesciunt nulla dolor dolore alias! Saepe laboriosam aliquid, ullam nihil nostrum quibusdam iste expedita inventore?
                                            </p>
                                        </div>
                                    </div>
                                    <div class="faq-item">
                                        <div class="faq-title">
                                            <h5 class="title">Showcases expertise, trust, and authority.</h5>
                                            <div class="arrow">
                                                <i class="fas fa-angle-up"></i>
                                            </div>
                                        </div>
                                        <div class="faq-content">
                                            <p>
                                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis distinctio quas at, voluptates saepe asperiores nesciunt nulla dolor dolore alias! Saepe laboriosam aliquid, ullam nihil nostrum quibusdam iste expedita inventore?
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="faq-wrapper">
                                    <div class="faq-item">
                                        <div class="faq-title">
                                            <h5 class="title">Frequently gets updated based on new data insights.</h5>
                                            <div class="arrow">
                                                <i class="fas fa-angle-up"></i>
                                            </div>
                                        </div>
                                        <div class="faq-content">
                                            <p>
                                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis distinctio quas at, voluptates saepe asperiores nesciunt nulla dolor dolore alias! Saepe laboriosam aliquid, ullam nihil nostrum quibusdam iste expedita inventore?
                                            </p>
                                        </div>
                                    </div>
                                    <div class="faq-item open active">
                                        <div class="faq-title">
                                            <h5 class="title">Drives internal pageviews to.</h5>
                                            <div class="arrow">
                                                <i class="fas fa-angle-up"></i>
                                            </div>
                                        </div>
                                        <div class="faq-content">
                                            <p>
                                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis distinctio quas at, voluptates saepe asperiores nesciunt nulla dolor dolore alias! Saepe laboriosam aliquid, ullam nihil nostrum quibusdam iste expedita inventore?
                                            </p>
                                        </div>
                                    </div>
                                    <div class="faq-item">
                                        <div class="faq-title">
                                            <h5 class="title">Showcases expertise, trust, and authority.</h5>
                                            <div class="arrow">
                                                <i class="fas fa-angle-up"></i>
                                            </div>
                                        </div>
                                        <div class="faq-content">
                                            <p>
                                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis distinctio quas at, voluptates saepe asperiores nesciunt nulla dolor dolore alias! Saepe laboriosam aliquid, ullam nihil nostrum quibusdam iste expedita inventore?
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Help Section Ends Here -->


    <!-- Affiliate Commission Section Stats Here -->
    <section class="commission-section bg_img" style="background: url({% static 'assets/images/affiliate/bg.jpg'%}) no-repeat center;">
        <div class="container">
            <div class="commission-wrapper">
                <div class="commission-thumb d-none d-lg-block">
                    <img src="{% static 'assets/images/commission/thumb.png'%}" alt="commission">
                </div>
                <div class="commission-content">
                    <h2 class="title">30% <br>
                        <span>Affiliate Commission</span>
                    </h2>
                    <p>
                        Phasellus a non dui hymenaeos mi ideu non ut lacus, nec erat consequataceuaugueid augue gravida consequat Magna erat nuncsit.
                    </p>
                    <a href="affiliate.html" class="cmn--btn">View Details</a>
                    <div class="shape1">
                        <img src="{% static 'assets/images/commission/shape1.png'%}" alt="commission">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Affiliate Commission Section Ends Here -->


    <!-- Testimonial Two Section Starts Here -->
    <section class="testimonial-section-two padding-top padding-bottom">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="section-header text-center">
                        <span class="subtitle  fadeInUp">client feedback</span>
                        <h2 class="title  mx-100">Happy Client What Say About Us</h2>
                        <p class=" fadeInUp" data--delay=".6s">
                            Pipsum dolor sit amet consectetur adipisicing elit. Aliquam modi explicabo nam ex unde et dolorum non dolor! Dolorum nobis
                        </p>
                    </div>
                </div>
            </div>
            <div class="testimonial-slider-two">
                <div class="single-slider">
                    <div class="testimonial-item-two">
                        <div class="testimonial-thumb-two">
                            <img src="{% static 'assets/images/testimonial/item2.png'%}" alt="">
                        </div>
                        <div class="testimonial-content-two">
                            <div class="quote-icon">
                                <i class="las la-quote-left"></i>
                            </div>
                            <h4 class="name">Robindronat</h4>
                            <span class="designation">Hyip Investor</span>
                            <p>Placerat pellentesque eros elit lobortis eleifend amet vivamus integer sed tellus quibusdam mauris. Leo cras molestie.</p>
                        </div>
                    </div>
                </div>
                <div class="single-slider">
                    <div class="testimonial-item-two">
                        <div class="testimonial-thumb-two">
                            <img src="{% static 'assets/images/testimonial/item4.png'%}" alt="">
                        </div>
                        <div class="testimonial-content-two">
                            <div class="quote-icon">
                                <i class="las la-quote-left"></i>
                        </div>
                            <h4 class="name">Robindronat</h4>
                            <span class="designation">Hyip Investor</span>
                            <p>Placerat pellentesque eros elit lobortis eleifend amet vivamus integer sed tellus quibusdam mauris. Leo cras molestie.</p>
                        </div>
                    </div>
                </div>
                <div class="single-slider">
                    <div class="testimonial-item-two">
                        <div class="testimonial-thumb-two">
                            <img src="{% static 'assets/images/testimonial/item3.png'%}" alt="">
                        </div>
                        <div class="testimonial-content-two">
                            <div class="quote-icon">
                                <i class="las la-quote-left"></i>
                            </div>
                            <h4 class="name">Robindronat</h4>
                            <span class="designation">Hyip Investor</span>
                            <p>Placerat pellentesque eros elit lobortis eleifend amet vivamus integer sed tellus quibusdam mauris. Leo cras molestie.</p>
                        </div>
                    </div>
                </div>
                <div class="single-slider">
                    <div class="testimonial-item-two">
                        <div class="testimonial-thumb-two">
                            <img src="{% static 'assets/images/testimonial/item4.png'%}" alt="">
                        </div>
                        <div class="testimonial-content-two">
                            <div class="quote-icon">
                                <i class="las la-quote-left"></i>
                            </div>
                            <h4 class="name">Robindronat</h4>
                            <span class="designation">Hyip Investor</span>
                            <p>Placerat pellentesque eros elit lobortis eleifend amet vivamus integer sed tellus quibusdam mauris. Leo cras molestie.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Testimonial Two Section Ends Here -->


    <!-- Payment Gateway Section Starts Here -->
    <section class="payment-gateway padding-bottom">
        <div class="container">
            <div class="row align-items-center gy-4">
                <div class="col-lg-5">
                    <div class="section-header">
                        <h2 class="title  fadeInUp" data--delay=".5s">Choose Yor Payment
                            Gateway</h2>
                        <p class=" fadeInUp" data--delay=".6s">
                            Risus et ut arcu sem nulla. Sit lacus lorem, sed turpis erat rhoncus nibh. Lacinia mauris vel, nibh sociis praesent aliquam proin, sit ut nec ultrices, odio lacus
                        </p>
                    </div>
                </div>
                <div class="col-lg-7  fadeInRight">
                    <div class="payment-gateway-slider">
                        <div class="sigle-slider">
                            <div class="gateway-item">
                                <img src="{% static 'assets/images/gateway/icon1.png'%}" alt="gateway">
                                <span class="coin-name">Bitcoin</span>
                            </div>
                        </div>
                        <div class="sigle-slider">
                            <div class="gateway-item">
                                <img src="{% static 'assets/images/gateway/icon2.png'%}" alt="gateway">
                                <span class="coin-name">Bitcoin</span>
                            </div>
                        </div>
                        <div class="sigle-slider">
                            <div class="gateway-item">
                                <img src="{% static 'assets/images/gateway/icon3.png'%}" alt="gateway">
                                <span class="coin-name">Ethereum</span>
                            </div>
                        </div>
                        <div class="sigle-slider">
                            <div class="gateway-item">
                                <img src="{% static 'assets/images/gateway/icon4.png'%}" alt="gateway">
                                <span class="coin-name">Ripple</span>
                            </div>
                        </div>
                        <div class="sigle-slider">
                            <div class="gateway-item">
                                <img src="{% static 'assets/images/gateway/icon2.png'%}" alt="gateway">
                                <span class="coin-name">Ethereum</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Payment Gateway Section Ends Here -->


  {% endblock %}