
{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- Banner Section Starts Here -->
    <section class="inner-banner bg_img padding-bottom" style="background: url({% static 'assets/images/about/bg.png'%}) no-repeat right bottom;">
        <div class="container">
            <div class="inner-banner-wrapper">
                <div class="inner-banner-content mx-610 ">
                    <h2 class="inner-banner-title">our company mission & vision</h2>
                    <ul class="breadcums">
                        <li>
                            <a href="{% url 'daro:index' %}">Home</a>
                        </li>
                        <li>
                            <span>Mission & Vision</span>
                        </li>
                    </ul>
                </div>
                <div class="inner-banner-thumb about d-none d-md-block">
                    <img src="{% static 'assets/images/about/thumb2.png'%}" alt="about">
                </div>
            </div>
        </div>
        <div class="shape1 paroller" data-paroller-factor=".2">
            <img src="{% static 'assets/images/about/balls.png'%}" alt="about">
        </div>
    </section>
    <!-- Banner Section Ends Here -->


    <!-- Mission Section Starts Here -->
    <section class="mission-vision padding-top">
        <div class="container border-bottom  pb-80">
            <div class="row gy-5 align-items-center">
                <div class="col-lg-6 d-none d-lg-block  fadeInLeft">
                    <div class="mission-vision-thumb">
                        <img src="{% static 'assets/images/mission-vision/thumb1.png'%}" alt="mission-vision">
                    </div>
                </div>
                <div class="col-lg-6  fadeInRight">
                    <div class="mission-vision-content">
                        <div class="section-header">
                            <h2 class="title">Our Mission</h2>
                            <p>fermentum metus libero dolorla  liberrbised ligula curabitur kommodo</p>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos tempora vero explicabo labore quo dolore dolores asperiores aperiam eaque similique fugiat, maiores animi deleniti, obcaecati dolorum, magnam recusandae quasi? Excepturi.maiores animi deleniti, obcaecati dolorum, magnam recusandae quasi? Excepturi.
                        </p>
                        <ul class="info-list">
                            <li>
                                low investment
                            </li>
                            <li>
                                over view on service
                            </li>
                            <li>
                                24/7 customer support
                            </li>
                            <li>
                                life time membership
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Mission  Section Ends Here -->


    <!-- Vision Section Starts Here -->
    <section class="mission-vision pt-80 padding-bottom">
        <div class="container">
            <div class="row gy-5 align-items-center">
                <div class="col-lg-6 fadeInLeft">
                    <div class="mission-vision-content">
                        <div class="section-header">
                            <h2 class="title">Our Vision</h2>
                            <p>fermentum metus libero dolorla  liberrbised ligula curabitur kommodo</p>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos tempora vero explicabo labore quo dolore dolores asperiores aperiam eaque similique fugiat, maiores animi deleniti, obcaecati dolorum, magnam recusandae quasi? Excepturi.maiores animi deleniti, obcaecati dolorum, magnam recusandae quasi? Excepturi.
                        </p>
                        <ul class="info-list">
                            <li>
                                low investment
                            </li>
                            <li>
                                over view on service
                            </li>
                            <li>
                                24/7 customer support
                            </li>
                            <li>
                                life time membership
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 d-none d-lg-block fadeInRight">
                    <div class="mission-vision-thumb">
                        <img src="{% static 'assets/images/mission-vision/thumb2.png'%}" alt="mission-vision">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Vision Section Ends Here -->


    <!-- Affiliate Commission Section Stats Here -->
    <section class="commission-section bg_img" style="background: url({% static 'assets/images/affiliate/bg.jpg'%}) no-repeat center;">
        <div class="container">
            <div class="commission-wrapper">
                <div class="commission-thumb d-none d-lg-block">
                    <img src="{% static 'assets/images/commission/thumb.png'%}" alt="commission">
                </div>
                <div class="commission-content">
                    <h2 class="title">30% <br>
                        <span>Affiliate Commission</span>
                    </h2>
                    <p>
                        Phasellus a non dui hymenaeos mi ideu non ut lacus, nec erat consequataceuaugueid augue gravida consequat Magna erat nuncsit.
                    </p>
                    <a href="affiliate.html" class="cmn--btn">View Details</a>
                    <div class="shape1">
                        <img src="{% static 'assets/images/commission/shape1.png'%}" alt="commission">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Affiliate Commission Section Ends Here -->


    <!-- Plan Section Two Starts Here -->
    <section class="plan-section padding-top padding-bottom overflow-hidden">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="section-header text-center">
                        <span class="subtitle  fadeInUp">choose your plan</span>
                        <h2 class="title">our investment plan</h2>
                        <p>
                            Praesent nibh aut vivamusad quis in tortor aenean ligula non lacinia quisque. Purus nunc tellus ac nulla praesent quis porttitor sit arcu congue auctor ut amet.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row gy-4 justify-content-center">
                <div class="col-sm-6 col-md-10 col-xl-6  slideInUp">
                    <div class="plan-item-two">
                        <div class="left-content">
                            <h2 class="title">07% Daily</h2>
                            <h5 class="subtitle">for 30 calendar days</h5>
                        </div>
                        <div class="right-content">
                            <ul class="plan-info">
                                <li><span class="info">principal</span><span class="result">Included</span></li>
                                <li><span class="info">Total retan </span><span class="result">160%</span></li>
                                <li><span class="info">Minimum</span><span class="result">15 USD</span></li>
                                <li><span class="info">Maximum</span><span class="result">1000 USD</span></li>
                            </ul>
                        </div>
                        <div class="plan-hover">
                            <div class="left-content">
                                <h2 class="title">07% Daily</h2>
                                <h5 class="subtitle">for 30 calendar days</h5>
                            </div>
                            <div class="right-content">
                                <a href="login.html" class="invest-button">Invest Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-10 col-xl-6  slideInUp">
                    <div class="plan-item-two">
                        <div class="left-content">
                            <h2 class="title">10% Daily</h2>
                            <h5 class="subtitle">for 15 calendar days</h5>
                        </div>
                        <div class="right-content">
                            <ul class="plan-info">
                                <li><span class="info">principal</span><span class="result">Included</span></li>
                                <li><span class="info">Total retan </span><span class="result">160%</span></li>
                                <li><span class="info">Minimum</span><span class="result">15 USD</span></li>
                                <li><span class="info">Maximum</span><span class="result">1000 USD</span></li>
                            </ul>
                        </div>
                        <div class="plan-hover">
                            <div class="left-content">
                                <h2 class="title">10% Daily</h2>
                                <h5 class="subtitle">for 15 calendar days</h5>
                            </div>
                            <div class="right-content">
                                <a href="login.html" class="invest-button">Invest Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-10 col-xl-6  slideInUp">
                    <div class="plan-item-two">
                        <div class="left-content">
                            <h2 class="title">25% Daily</h2>
                            <h5 class="subtitle">for 45 calendar days</h5>
                        </div>
                        <div class="right-content">
                            <ul class="plan-info">
                                <li><span class="info">principal</span><span class="result">Included</span></li>
                                <li><span class="info">Total retan </span><span class="result">160%</span></li>
                                <li><span class="info">Minimum</span><span class="result">15 USD</span></li>
                                <li><span class="info">Maximum</span><span class="result">1000 USD</span></li>
                            </ul>
                        </div>
                        <div class="plan-hover">
                            <div class="left-content">
                                <h2 class="title">25% Daily</h2>
                                <h5 class="subtitle">for 45 calendar days</h5>
                            </div>
                            <div class="right-content">
                                <a href="login.html" class="invest-button">Invest Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-10 col-xl-6  slideInUp">
                    <div class="plan-item-two">
                        <div class="left-content">
                            <h2 class="title">30% Daily</h2>
                            <h5 class="subtitle">for 60 calendar days</h5>
                        </div>
                        <div class="right-content">
                            <ul class="plan-info">
                                <li><span class="info">principal</span><span class="result">Included</span></li>
                                <li><span class="info">Total retan </span><span class="result">160%</span></li>
                                <li><span class="info">Minimum</span><span class="result">15 USD</span></li>
                                <li><span class="info">Maximum</span><span class="result">1000 USD</span></li>
                            </ul>
                        </div>
                        <div class="plan-hover">
                            <div class="left-content">
                                <h2 class="title">30% Daily</h2>
                                <h5 class="subtitle">for 60 calendar days</h5>
                            </div>
                            <div class="right-content">
                                <a href="login.html" class="invest-button">Invest Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-10 col-xl-6  slideInUp">
                    <div class="plan-item-two">
                        <div class="left-content">
                            <h2 class="title">07% Daily</h2>
                            <h5 class="subtitle">for 30 calendar days</h5>
                        </div>
                        <div class="right-content">
                            <ul class="plan-info">
                                <li><span class="info">principal</span><span class="result">Included</span></li>
                                <li><span class="info">Total retan </span><span class="result">160%</span></li>
                                <li><span class="info">Minimum</span><span class="result">15 USD</span></li>
                                <li><span class="info">Maximum</span><span class="result">1000 USD</span></li>
                            </ul>
                        </div>
                        <div class="plan-hover">
                            <div class="left-content">
                                <h2 class="title">07% Daily</h2>
                                <h5 class="subtitle">for 30 calendar days</h5>
                            </div>
                            <div class="right-content">
                                <a href="login.html" class="invest-button">Invest Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-10 col-xl-6  slideInUp">
                    <div class="plan-item-two">
                        <div class="left-content">
                            <h2 class="title">10% Daily</h2>
                            <h5 class="subtitle">for 15 calendar days</h5>
                        </div>
                        <div class="right-content">
                            <ul class="plan-info">
                                <li><span class="info">principal</span><span class="result">Included</span></li>
                                <li><span class="info">Total retan </span><span class="result">160%</span></li>
                                <li><span class="info">Minimum</span><span class="result">15 USD</span></li>
                                <li><span class="info">Maximum</span><span class="result">1000 USD</span></li>
                            </ul>
                        </div>
                        <div class="plan-hover">
                            <div class="left-content">
                                <h2 class="title">10% Daily</h2>
                                <h5 class="subtitle">for 15 calendar days</h5>
                            </div>
                            <div class="right-content">
                                <a href="login.html" class="invest-button">Invest Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-10 col-xl-6  slideInUp">
                    <div class="plan-item-two">
                        <div class="left-content">
                            <h2 class="title">25% Daily</h2>
                            <h5 class="subtitle">for 45 calendar days</h5>
                        </div>
                        <div class="right-content">
                            <ul class="plan-info">
                                <li><span class="info">principal</span><span class="result">Included</span></li>
                                <li><span class="info">Total retan </span><span class="result">160%</span></li>
                                <li><span class="info">Minimum</span><span class="result">15 USD</span></li>
                                <li><span class="info">Maximum</span><span class="result">1000 USD</span></li>
                            </ul>
                        </div>
                        <div class="plan-hover">
                            <div class="left-content">
                                <h2 class="title">25% Daily</h2>
                                <h5 class="subtitle">for 45 calendar days</h5>
                            </div>
                            <div class="right-content">
                                <a href="login.html" class="invest-button">Invest Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-10 col-xl-6  slideInUp">
                    <div class="plan-item-two">
                        <div class="left-content">
                            <h2 class="title">30% Daily</h2>
                            <h5 class="subtitle">for 60 calendar days</h5>
                        </div>
                        <div class="right-content">
                            <ul class="plan-info">
                                <li><span class="info">principal</span><span class="result">Included</span></li>
                                <li><span class="info">Total retan </span><span class="result">160%</span></li>
                                <li><span class="info">Minimum</span><span class="result">15 USD</span></li>
                                <li><span class="info">Maximum</span><span class="result">1000 USD</span></li>
                            </ul>
                        </div>
                        <div class="plan-hover">
                            <div class="left-content">
                                <h2 class="title">30% Daily</h2>
                                <h5 class="subtitle">for 60 calendar days</h5>
                            </div>
                            <div class="right-content">
                                <a href="login.html" class="invest-button">Invest Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Plan Section Two Ends Here -->





{% endblock %}