{% extends 'base.html' %}
{% load static %}
{% block content %}



    <!-- Banner Section Starts Here -->
    <section class="inner-banner bg_img" style="background: url({% static 'assets/images/privacy-policy/bg.png'%}) no-repeat center bottom;">
        <div class="container">
            <div class="inner-banner-wrapper">
                <div class="inner-banner-content">
                    <h2 class="inner-banner-title">REFUND
                        <br> POLICY</h2>
                    <ul class="breadcums">
                        <li>
                            <a href="{% url 'daro:index' %}">Home</a>
                        </li>
                        <li>
                            <span>Refund Policy</span>
                        </li>
                    </ul>
                </div>
                <div class="inner-banner-thumb top d-none d-md-block">
                    <img src="{% static 'assets/images/privacy-policy/thumb.png'%}" alt="privacy-policy">
                </div>
            </div>
        </div>
        <div class="shape1">
            <img src="{% static 'assets/images/about/balls.png'%}" alt="about">
        </div>
    </section>
    <!-- Banner Section Ends Here -->


    <!-- Privacy Policy Section Starts Here -->
    <section class="privacy-policy padding-top padding-bottom">
        <div class="container">
            <div class="row gy-5">
                    <div class="col-lg-3">
                        <ul class="privacy-policy-sidebar-menu">
                            <li>
                                <a href="#overview" class="active nav-link">Overview</a>
                            </li>
                            <li>
                                <a href="#data-collection" class="nav-link">Data Collection & Use</a>
                            </li>
                            <li>
                                <a href="#cookies" class="nav-link">Cookies Data</a>
                            </li>
                            <li>
                                <a href="#data-security" class="nav-link">Data Security</a>
                            </li>
                            <li>
                                <a href="#overview2" class="nav-link">Customer Information</a>
                            </li>
                            <li>
                                <a href="#overview3" class="nav-link">Data Collection & Use</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-9">
                    <div class="privacy-policy-content">
                        <div class="content-item">
                            <h4 class="title" id="overview">Overview</h4>
                            <p>
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda officia vel omnis, odit quidem, expedita nam deserunt molestiae accusamus voluptas aut. Sapiente voluptatem nulla unde quia harum illum ipsum dolore! Lorem ipsum dolor sit amet consectetur adipisicing elit. In dolorem illum molestiae corrupti, maxime sint velit quibusdam officiis ipsam a minima quos voluptates possimus eaque, vitae, veniam consequuntur! Dolorem, architecto.
                            </p>
                        </div>
                        <div class="content-item">
                            <h4 class="title" id="data-collection">Data Collection & Use</h4>
                            <p>
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda officia vel omnis, odit quidem, expedita nam deserunt molestiae accusamus voluptas aut. Sapiente voluptatem nulla unde quia harum illum ipsum dolore! Lorem ipsum dolor sit amet consectetur adipisicing elit. In dolorem illum molestiae corrupti, maxime sint velit quibusdam officiis ipsam a minima quos voluptates possimus eaque, vitae, veniam consequuntur! Dolorem, architecto.
                            </p>
                            <ul class="info-list">
                                <li>There are many variations of passages of Lorem
                                    available, but the majority</li>
                                <li>Finibus onorum et alorum"  by icero classical lite
                                    rature, discovered</li>
                                <li>There are many variations of passages of Lorem
                                    available, but the majority</li>
                                <li>There are many variations of passages of Lorem
                                    available, but the majority</li>
                            </ul>
                        </div>
                        <div class="content-item">
                            <h4 class="title" id="cookies">Cookies Data</h4>
                            <p>
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda officia vel omnis, odit quidem, expedita nam deserunt molestiae accusamus voluptas aut. Sapiente voluptatem nulla unde quia harum illum ipsum dolore! Lorem ipsum dolor sit amet consectetur adipisicing elit. In dolorem illum molestiae corrupti, maxime sint velit quibusdam officiis ipsam a minima quos voluptates possimus eaque, vitae, veniam consequuntur! Dolorem, architecto.
                            </p>
                        </div>
                        <div class="content-item">
                            <h4 class="title" id="data-security">Data Collection & Use</h4>
                            <p>
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda officia vel omnis, odit quidem, expedita nam deserunt molestiae accusamus voluptas aut. Sapiente voluptatem nulla unde quia harum illum ipsum dolore! Lorem ipsum dolor sit amet consectetur adipisicing elit. In dolorem illum molestiae corrupti, maxime sint velit quibusdam officiis ipsam a minima quos voluptates possimus eaque, vitae, veniam consequuntur! Dolorem, architecto.
                            </p>
                        </div>
                        <div class="content-item">
                            <h4 class="title" id="overview2">Data Cookies</h4>
                            <p>
                                deserunt molestiae accusamus voluptas aut. Sapiente voluptatem nulla unde quia harum illum ipsum dolore! Lorem ipsum dolor sit amet consectetur adipisicing elit. In dolorem illum molestiae corrupti, maxime sint velit quibusdam officiis ipsam a minima quos voluptates possimus eaque, vitae, veniam consequuntur! Dolorem, architecto.
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda officia vel omnis, odit quidem, expedita nam deserunt molestiae accusamus voluptas aut. Sapiente voluptatem nulla unde quia harum illum ipsum dolore! Lorem ipsum dolor sit amet consectetur adipisicing elit. In dolorem illum molestiae corrupti, maxime sint velit quibusdam officiis ipsam a minima quos voluptates possimus eaque, vitae, veniam consequuntur! Dolorem, architecto.
                            </p>
                        </div>
                        <div class="content-item">
                            <h4 class="title" id="overview3">Data Storage</h4>
                            <p>
                                Pconsectetur adipisicing elit. Assumenda officia vel omnis, odit quidem, expedita nam deserunt molestiae accusamus voluptas aut. Sapiente voluptatem nulla unde quia harum illum ipsum dolore! Lorem ipsum dolor sit amet consectetur adipisicing elit. In dolorem illum molestiae corrupti, maxime sint velit quibusdam officiis ipsam a minima quos voluptates possimus eaque, vitae, veniam consequuntur! Dolorem, architecto.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Privacy Policy Section Ends Here -->





{% endblock %}